.flex-container{
    display: -webkit-flex;
    display: flex;
   -webkit-flex-wrap:nowrap;
    flex-wrap: nowrap;
    width:300px;
    height:250px;
    background-color: rgb(240, 169, 169);
}
.flex-item1{
    align-self: flex-start;
    background-color: rgb(133, 230, 107);
    width: 100px;
    margin: 10px;
    padding: 2px;
    border:1px solid black;
}
.flex-item2{
   align-self: self-end;
    background-color: rgb(133, 230, 107);
    width: 100px;
    margin: 10px;
    padding: 2px;
    border:1px solid black;
}
.flex-item3{
    align-self: center;
    background-color: rgb(133, 230, 107);
    width: 100px;
    height: 50px;
    margin: 10px;
    padding: 2px;
    border:1px solid black;
}
.flex-item4{
   align-self: baseline;
    background-color: rgb(133, 230, 107);
    width: 100px;
    margin: 10px;
    padding: 2px;
    border:1px solid black;
}

.flex-item5{
    align-self: stretch;
     background-color: rgb(133, 230, 107);
     width: 100px;
     margin: 10px;
     padding: 2px;
     border:1px solid black;
 }